﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No limitations, go crazy. It's free real estate!</p>

<iframe width="1120" height="630" src="https://www.youtube-nocookie.com/embed/cd4-UnU8lWY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
